<div class="slick-container">
	<img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                  height="50"
                >
</div>